/* Map-related CSS */
div#mapbox {
	position: relative;
	margin-top: 20px;
}

img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
	position: relative;
	margin: 0 auto;
}

.display {
    padding: 0px;
    display: none;
    position: absolute;
	width: 180px;
	border: 1px solid #333;
    background-color: #ccc;
    color: #000000;
    box-shadow: 5px 5px 2px #666;
}

hr {
	padding: 2px;
	margin: 0px;
	border-color: inherit;
}

a.closeX {
    position: absolute;
    right: 3px; 
    top: 3px; 
    width:20px;
    color: #cc0000;	/* red colour */
    padding-left: 3px; 
    padding-top: 1px;
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold;
}

.infoSec {
	text-align: right;
	padding: 5px;
}

.infoHeading {
  padding: 5px;
}

.infoContent {
  font-size: small;
  padding: 5px;
} 